* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: black;
  color: blanchedalmond;
  z-index: 1000;
}

.navbar a {
  color: blanchedalmond;
  font-family: cursive, "Times New Roman", Times, serif;
}

.navbar #openIcon {
  position: absolute;
  right: 4%;
  font-size: 1.6rem;
}

.navbar #closeIcon {
  position: absolute;
  right: 4%;
  font-size: 1.6rem;
}

.navbar .hide {
  display: none;
}

.preload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1000;
}

.preload .bar {
  width: 40vw;
  background: blanchedalmond;
  margin-left: -1rem;
}

.preload .text {
  position: absolute;
  color: black;
  z-index: 1400;
  top: 40%;
  left: 10%;
}

#sidebar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  width: 80vw;
  z-index: 200;
  background: blanchedalmond;
  -webkit-transition: all 3s linear;
  transition: all 3s linear;
}

#sidebar a {
  margin: 1rem 0;
  color: black;
  font-size: 1.3rem;
  padding: 0.6rem;
  text-decoration: underline;
}

.hide {
  left: -1500px;
}

.show {
  left: 0;
}

.intro {
  padding-top: 3rem;
  background: black;
}

.intro .view_one {
  padding: 10rem;
  min-height: 100vh;
  color: blanchedalmond;
  font-size: 1.3rem;
}

.intro .view_one h2 {
  margin: 1rem 0;
}

.intro .view_one button {
  margin: 2rem 0;
  color: blanchedalmond;
}

.intro .view_one .bottom {
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
}

#stack {
  background: black;
}

#stack .view_two {
  background: rgba(36, 33, 33, 0.1);
  padding: 10rem;
  color: blanchedalmond;
  font-size: 1.3rem;
}

#stack .view_two ul {
  margin: 30px 0 20px 50px;
  position: relative;
  border-left: 1px solid blanchedalmond;
}

#stack .view_two ul li {
  list-style: none;
  padding: 20px;
  padding-left: 20px;
}

#stack .view_two ul::after {
  content: "";
  position: absolute;
  width: 3px;
  left: 40px;
  top: 0;
  list-style: none;
  background: red;
  margin-top: 20px;
}

#stack .view_two li::before {
  content: "";
  position: absolute;
  background: black;
  width: 20px;
  height: 20px;
  left: -1px;
  margin-top: 5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50px;
  border: 4px solid blanchedalmond;
}

#stack .view_two .bottom {
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
}

#projects {
  background: black;
}

#projects .view_three {
  background-color: black;
  min-height: 100vh;
  color: blanchedalmond;
}

#projects .view_three h2 {
  margin: 0 1rem;
}

#projects .view_three button {
  margin: 2rem 0;
  color: blanchedalmond;
}

#projects .view_three .bottom {
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
}

#projects .view_three .card {
  border: 1px solid grey !important;
  background-color: black !important;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects .view_three .card .carousel-item {
  background: black;
  padding: 20px 0 50px;
}

#projects .view_three .card-body {
  border: 1px solid black;
  color: blanchedalmond;
  font-size: 1.3rem;
}

#projects .view_three .card-body .btn {
  font-size: 1.5rem;
}

#blog {
  background: black;
  color: whitesmoke;
}

#blog .view_four {
  padding: 10rem;
  color: blanchedalmond;
  font-size: 1.3rem;
}

#blog .view_four h2 {
  margin: 3rem 0 1rem;
}

#blog .view_four button {
  margin: 2rem 0;
  color: blanchedalmond;
}

#blog .view_four .bottom {
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
}

button {
  background-color: rgba(36, 33, 33, 0.1);
  padding: 1rem 2rem;
  color: whitesmoke;
}

#footer {
  background: black;
  color: blanchedalmond;
  font-weight: 800;
  padding: 3rem 3rem 1rem;
}

#footer .col-md-3 {
  font-size: 1.3rem;
  border: 1px solid blanchedalmond;
  border-left: 4px solid blanchedalmond;
  padding: 1rem;
}

#footer a {
  color: blanchedalmond;
  margin: 1rem 0;
}

#footer h2 {
  margin: 2rem 0;
}

#footer h6 {
  margin: 1rem 0;
}

#footer .foot {
  margin-top: 3rem;
  font-size: 0.4rem;
}

@media (max-width: 480px) {
  .intro .view_one {
    padding: 3rem 1.9rem;
  }
  #stack .view_two {
    padding: 5rem 1.9rem;
  }
  #projects .view_three {
    padding: 5rem 1.9rem;
  }
  #blog .view_four {
    padding: 5rem 1.9rem;
  }
}
/*# sourceMappingURL=main.css.map */